@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #1A1A1A;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.border{
  border: 2px solid rgb(17, 16, 16);
}
.dborder{
  border-top: 3px solid rgb(223, 67, 67);
  border-bottom: 3px solid rgb(223, 67, 67);
  border-left:3px solid gray ;
  border-right:3px solid gray ;
  border-radius: 50%;

}
.d2border{
  border-left: 3px solid rgb(223, 67, 67);
  border-right: 3px solid rgb(223, 67, 67);
  border-top:3px solid gray ;
  border-bottom:3px solid gray ;
  border-radius: 50%;

}
.btnborder{
  border: 1.5px solid gray;
}
.textcolor{
  color: #FFFFFF;
}
.texthead{
  color: #FFFFFFE6;
}
.navbtn{
  color: #FFFFFFB3;
}
.bgcolor{
  background-color: #1A1A1A;
}
.blackborder{
  border: 1px solid black;
  border-radius: 10px;
}
.cardbg{
  background-color: #1f1f21;
}
.borderb{
  border-bottom: 2px solid black;
}
.bordered{
  border-bottom: 4px solid rgb(234, 99, 99);
}
.borderbottom{
  border-bottom: 1px solid black;
}

.redbtn{
  color: #DB4D4E;
  border: 1.5px solid #DB4D4E;
}
.graybtn{
  color: #0DCAF0;
  border: 1.5px solid #0DCAF0;
}
.bigtext{
color: rgb(rgb(204, 191, 191), rgb(146, 153, 146), rgb(166, 166, 173))
}


.backFont::before{
 content: 'WHAT AND WHY';
 position: absolute;
 font-weight: bold;
 font-size: 2rem;
 opacity: .06;
 top: 50%;
 left: 50%;
 width: 100%;
 white-space: nowrap;
 word-spacing: 2rem;
 color:  linear-gradient(180deg,#1a1a1a,#eef3fc);
 transform: translate(-50%,-50%);
 /* width: 100px */
 /* height: 100px; */
 text-transform: uppercase;
 /* display: none; */

 /* z-index: ; */
}
@media (min-width: 640px) { 
.backFont::before{
 
  font-size: 6rem;
 } }
.backFont2::before{
  content: 'THIRD SYSTEM';
  /* text-shadow: #1a1a1a; */
  position: absolute;
  font-weight: bold;
  font-size: 3rem;
  opacity: .06;
  top: 50%;
  left: 50%;
  width: 100%;
  white-space: nowrap;
  word-spacing: 3rem;
  color:  linear-gradient(180deg,#1a1a1a,#eef3fc);
  transform: translate(-50%,-50%);
  /* width: 100px */
  /* height: 100px; */
  text-transform: uppercase;
 
  /* z-index: ; */
 }
 @media (min-width: 640px) { 
  .backFont2::before{
   
    font-size: 8rem;
   } }

 .backFont3::before{
  content: 'PARTINER';
  /* text-shadow: #1a1a1a; */
  position: absolute;
  font-weight: bold;
  font-size: 5rem;
  opacity: .06;
  top: 50%;
  left: 50%;
  width: 100%;
  white-space: nowrap;
  word-spacing: 3rem;
  color:  linear-gradient(180deg,#1a1a1a,#eef3fc);
  transform: translate(-50%,-50%);
  /* width: 100px */
  /* height: 100px; */
  text-transform: uppercase;
 
  /* z-index: ; */
 }
 @media (min-width: 640px) { 
  .backFont3::before{
   
    font-size: 8rem;
   } }
 .backFont4::before{
  content: 'CONTACT US';
  /* text-shadow: #1a1a1a; */
  position: absolute;
  font-weight: bold;
  font-size: 3rem;
  opacity: .06;
  top: 50%;
  left: 50%;
  width: 100%;
  white-space: nowrap;
  word-spacing: 3rem;
  color:  linear-gradient(180deg,#1a1a1a,#eef3fc);
  transform: translate(-50%,-50%);
  /* width: 100px */
  /* height: 100px; */
  text-transform: uppercase;
 
  /* z-index: ; */
 }
 @media (min-width: 640px) { 
  .backFont4::before{
   
    font-size: 8rem;
   } }

 @media (prefers-reduced-motion: no-preference) {
  .myrotate {
    animation: myrotate-spin infinite 20s linear;
  }
}

 @keyframes myrotate-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}